body{
    background-color: #1E1E1E;
    font-family: Consolas, 'Courier New', monospace;
}

h1{
    color: #569CD6;
    font-size: 1.5em;
    margin-left: 0.5em;
}

h1:first-child{
    margin-bottom: 30px;
}

#file_input_box{
    border-color: #282828;
    border-width: 2px;
    border-style: solid;

    border-left: solid #707070;
    border-right: none;

    height: fit-content;

    margin-left: 0.5em;

    padding-left: 3em;

    display: flex;
    align-items: center;
}

.add_image{
    color: #569CD6;
}

.src_image{
    color: #8CDCFE;
}

.quotes_image{
    color: #CE9178;
    text-align: center;
    height: fit-content;
    width: fit-content;
    font-size: 1.5em;
    cursor: pointer;
}

.equals_image{
    color: white;
}

.input_file{
    position: absolute;
    top: 80%;
    left: 50%;
    color: white;
    display: none;
}

.uploaded_image{
    max-width: 120vh;
    max-height: 75vh;

    margin-top: 20px;
    margin-left: 3.5em;
}